:root {
  --verde: #82c7a5;
  --azul: #0145ac;
  --negro: #1b212c;
  --grisOscuro: #222833;
  --grisClaro: #292f39;
  --blanco: #dddddd;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grisOscuro);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 105px 0 0 130px;
}

.content.no-padding {
  padding: 0;
}

