.navbar {
    width: 100vw;
    height: 100px;
    background-color: var(--negro);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin: 0;
}

.logo-container img {
    width: 250px;
    height: 100px;
    object-fit: cover;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.nav-links li {
    font-size: 20px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--blanco);
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    outline: none;
    transition: border-color 0.1s ease;
    box-sizing: border-box;
}

.nav-links li a:hover {
    border-color: var(--blanco);
    transition: border-color 0.6s ease;
}