.bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 100px;
    width: 130px;
    height: calc(100vh - 100px);
    background-color: var(--blanco) ;
    justify-content: space-between;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    min-width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: var(--grisClaro);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none; /* importante para NavLink */
    transition:
            background-color 0.3s ease,
            color 0.3s ease
;
}

.btn:hover {
    background-color: var(--verde);
    color: var(--negro);
}

.btn.active {
    background-color: var(--grisClaro);
    color: var(--blanco);
}

