@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetear márgenes y paddings para todos los elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

/* Estilos para la página de login */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--negro);
    padding: 10px;
}

/* caja de color */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    background: linear-gradient(60deg, var(--azul), var(--verde));
    width: 70vw;
    min-width: 400px;
    height: 90vh;
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

/* Estilo para la imagen del logo */
.logo-container .logo {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

/* Estilos para el contenedor del formulario */
.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background-color: var(--blanco);
    width: 400px;
    height: 80vh;
    max-height: 600px;
    border-radius: 10px;
}

/* Título del formulario */
.login-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--grisOscuro);
    padding: 10px;
}

/* Estilos para el formulario */
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilos para los inputs del formulario */
.label-input {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 1rem;
    align-items: start;
    justify-content: space-between;
}

.label-input label {
    font-size: 12px;
    font-weight: 600;
    color: var(--grisOscuro);
}

/* Estilos de los inputs */
.label-input input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    color: var(--grisOscuro);
    width: 100%;
    font-size: 14px;
}

/* Estilos para los enlaces en la parte inferior */
.links {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: var(--grisOscuro);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

/* Estilo para el botón de submit */
.btn-submit {
    margin: 2em 0;
    width: 350px;
    height: 40px;
    color: var(--blanco);
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid transparent;
    background: linear-gradient(60deg, var(--azul), var(--verde));
    cursor: pointer;
}

.btn-submit:hover {
    background: linear-gradient(60deg, var(--verde), var(--azul)); /* Cambiar la dirección del gradiente */
}

/* Estilos para el mensaje de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}